:root{
  --main--ktext--color: #626262;
  --accent--color: #03A9F4;
  --bg--color: #FFFFFF;
  --scnd--color: #B4AD9E;
  --header--link--color: #7D7D7D;
  --header--hover--color: #2196F3;
  --main--text--size: 14px;
  --title--text--size: 30px;
  --font--family:  "Playfair Display", sans-serif;
  --font--family--h2:"Ubuntu", sans-serif; ;
  }
  body{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  font-size: var(--title--text--size);
  }
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  font-family: var(--main--text--size);
  font-size:  var(--main--text--size);
}
h2{
  font-family: var(--font--family);
  font-size: var(--title--text--size);
}
p {
  font-family: var(--font--family);
  font-size: var(--main--text--size);
}
.container{
  width: 936px;
  padding: 0 15px;
  /* outline: 2px dashed  red; */
  margin: 0 auto;
}
.header{
  margin-bottom: 92px;
}
.header-nav {
  color: var(--header--link--color)
}
.header-list{
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
.header-link {
  color: var(--header-link-color);
  font-family: var(--font--family--main);
}
.header-link:hover, 
.header-link:focus{
  color: var(--header--hover--color);
}
.galary-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 95px;
  padding-left: 0;
  gap: 65px;
}
{
  color: var(--accent-color);
}
.galary-name {
  margin-bottom: 32px;
  font-family:var(--font--family--h2) ;
  color: var(--scnd--color);
}
.galary-list-item {
  width: 420px;
  flex-basis:calc(100% - 65px)/1;
}
.galary-paragraph {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #626262;
}
.button{
  margin: 0 auto;
  display: block;
  padding: 20px 48px;
  color: var(--main-text-color);
  background-color: #fff;
  font-family: var(--font--family);
  font-weight: 400;
  font-size: 14px;
  color: #626262;
}

