:root{
  --main--ktext--color: #626262;
  --accent--color: #03A9F4;
  --bg--color: #FFFFFF;
  --scnd--color: #B4AD9E;
  --header--link--color: #7D7D7D;
  --header--hover--color: #2196F3;
  --main--text--size: 14px;
  --title--text--size: 30px;
  --font--family--main:  "Playfair Display", sans-serif;
  --font--family--h2:"Ubuntu", sans-serif; ;
  }
  body{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  font-size: var(--title--text--size);
  }
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  font-family: var(--main--text--size);
  font-size:  var(--main--text--size);
}
h2{
  font-family: var(--font--family--h2);
  font-size: var(--title--text--size);
}
p {
  font-family: var(--font--family--main);
  font-size: var(--main--text--size);
}

.container{
  width: 936px;
  padding: 0 15px;
  outline: 2px dashed  blue;
  margin: 0 auto;
}
.header{
  display: flex;
}
.header-nav {
  margin-bottom: 92px;
  color: var(--header--link--color)
}
.header-list{
  display: flex;
  gap: 100px;
  justify-content: center;
}
.header-link {
  color: var(--header-link-color);
  font-family: var(--font--family--main);
}
.header-link:hover, 
.header-link:focus{
  color: var(--header--hover--color);
}
{
  color: var(--accent-color);
}
.galary-name {
  font-family:var(--font--family--h2) ;
  color: var(--scnd-color);
  color: var(--scnd--color);
}
.galary-list {
 display: flex;
 flex-wrap: wrap;
 margin-bottom: 95px;
 padding-left: 0;
 column-gap: 65px;
 row-gap: 130px;
}
.galary-list-item {
  width: 420px;
}
.button{
  margin-top: 90px;
  padding: 20px 48px;
  color: var(--main-text-color);
  background-color: #fff;
}

