:root{
  --main--ktext--color: #626262;
  --accent--color: #03A9F4;
  --bg--color: #FFFFFF;
  --scnd--color: #B4AD9E;
  --header--link--color: #7D7D7D;
  --header--hover--color: #2196F3;
  --main--text--size: 14px;
  --title--text--size: 30px;
  --font--family:  "Playfair Display", sans-serif;
  --font--family--h2:"Ubuntu", sans-serif; ;
  }